{% extends "link.html" %}
{% block content %}
<div class="container cards-wrapper">
    <div class="row">
        <!-- first -->
        <div class="card" style="width: 18rem;">
            <img src="https://static-01.daraz.com.np/p/813072290c5c5d1e80d9c1c7794e2b8f.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">$677</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Purchase Now</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://m.media-amazon.com/images/M/MV5BOTE3NzkyMjAyNF5BMl5BanBnXkFtZTgwMDc5MTE0MDE@._V1_FMjpg_UX1000_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">$799</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Purchase Now</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://cdn.britannica.com/21/182021-050-666DB6B1/book-cover-To-Kill-a-Mockingbird-many-1961.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">$599</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the</p>
              <a href="#" class="btn btn-primary">Purchase Now</a>
            </div>
        </div>

        <!-- second -->
        <div class="card" style="width: 18rem;">
            <img src="https://cdn.shopify.com/s/files/1/0070/1884/0133/t/8/assets/pf-b57dac15--Books8_1200x.jpg?v=1620061403" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">$999</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Purchase Now</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://evrycart.com/cdn/shop/files/81uBUxgLS1L_2048x2048.jpg?v=1713208878" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">$899</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Purchase Now</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://m.media-amazon.com/images/M/MV5BOTE3NzkyMjAyNF5BMl5BanBnXkFtZTgwMDc5MTE0MDE@._V1_FMjpg_UX1000_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">$990</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Purchase Now</a>
            </div>
        </div>

        <!-- third -->
        <div class="card" style="width: 18rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVhrhxm7t6cpCTdx-cp8AFuaxBjbZiTgEFTA&s" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">$590</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Purchase Now</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://cdn.biblioasis.com/wp-content/uploads/2024/03/9781771965606_FC-637x1000.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">$499</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Purchase Now</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://grey.com.np/cdn/shop/products/the-goddess-within-and-beyond-the-three-cities-sakta-tantra-and-the-paradox-of-power-in-nepala-mandala-hb-biblionepal_1_fd7d676b-e031-478a-8810-5d6f807ffff5.jpg?v=1678693966" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">$999</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Purchase Now</a>
            </div>
        </div>

        <!-- fourth -->
        <div class="card" style="width: 18rem;">
            <img src="https://multimediaman.blog/wp-content/uploads/2014/04/the-book-a-global-history.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">$879</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Purchase Now</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcsn_E1cfWeH6W7Yy36R77BnEDiAxk9vY7Kw&s" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">$1200</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the</p>
              <a href="#" class="btn btn-primary">Purchase Now</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIqA-aaE6l9rQn3u-WXUjYijbbPlA1bs-enA&s" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">$555</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the</p>
              <a href="#" class="btn btn-primary">Purchase Now</a>
            </div>
        </div>
    </div>
</div>




{% endblock content %}

