<header>
    {% include "nav.html" %}
    <div class="container text-center">
        <div class="row">
            <div class="col-md-7 col-sm-12">
                <h6>AUTHOR: DAILY TUITION</h6>
                <h1>EXCITING ADVENTURE</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere accusamus eum dignissimos ipsa
                    sequi expedita.
                </p>
                <button class="btn btn-light px-5 py-2 primary-btn">
                    By now for $5.99
                </button>
            </div>

            <div class="col-md-5 col-sm-12 h-25">
                <img src="../static/header-img.png" alt="Books" />
            </div>

        </div>
    </div>

</header>